<!DOCTYPE html>
{% load static %}
<html lang="en">
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
      <title>Havana Menu Slice</title>
  </header>
  <main>
    <body>
      <article class="prologue-line">
        <h2 class="prologue-left-text">BREAKFAST & LUNCH</h2> <h2 class="prologue-right-text">703<p class="mini-fraction">1/2</p> Duval St.</h2>
      </article>
      <article class="prologue-line">
        <h2 class="prologue-left-text">Full Liquor Bar</h2>
        <h2 class="prologue-right-text">305.294.2626</h2>
      </article>
      <article class="prologue-line">
        <h2 class="prologue-left-text">Dine In or Pick Up</h2> <h2 class="prologue-right-text"><a href="https://havana-keywest.net">Our Website</a></h2>
      </article>    
      <div class="menu">
        <div class="menu-column">
          <h1>BREAKFAST</h1>
          <h2>Comes with breakfast potatoes</h2>
          <p>Eggs Benedict</p>
          <p>Lobster Benedict</p>
          <p>CrabCake Benedict</p>
          <p>Smoked Salmon Benedict</p>
          <p class="centered-information">Three egg omelettes server with toast and grits or breakfast potatoes</p>
          <p>Cheese Omelette</p>
          <p>Smoked Salmon Omelette</p>
          <p class="dish-information">Smoked salmon, cream cheese, scallions</p>
          <p>Lobster Omelette</p>
          <p class="dish-information">Spinach, lobster & cheddar cheese</p>
          <img src="{% static 'img/restaurant-menu-5.jpg' %}" alt="An image of a drink with the breakfasts" width=100%/>
          <p>Seafood Omelette</p>
          <p class="dish-information">Lobster, shrimp, peppers, onion & cheddar cheese</p>
          <p>House Omelette</p>
          <p class="dish-information">Vermont cheddar, mushrooms & onion</p>
          <p>Applewood Omelette</p>
          <p class="dish-information">Applewood bacon, barn, sausage & pepperjack cheese</p>
          <p>Steak Omelette</p>
          <p class="dish-information">Steak, onion, peppers, mushrooms & cheddar cheese</p>
          <p>Veggie Omelette</p>
          <p class="dish-information">Vermont cheddar, onion, peppers, mushrooms, spinach & tomatoes</p>
          <p>Homemade Biscuits & Gravy</p>
          <p class="dish-information">with two eggs</p>    
          <p>The Havana Sampler</p>
          <p class="dish-information">One slice of French toast, 2 eggs & bacon or sausage</p>
          <p>Buttermilk Pancakes</p>
          <p class="dish-information">served with maple syrup<br>add Vermont maple syrup<br>and berries</p>                    
          <p>French Toast</p>
          <p class="dish-information">Made with Cuban bread & serverd with maple syrup<br>add Vermont maple syrup<br>add berries</p>                    
          <p>Havana special</p>
          <p class="dish-information">2 eggs any style, applewood bacon, sausage, toast & breakfast potatoes</p>                    
          <p>Seasonal Selection Fruit Platter</p>                   
          <p>Toasted Egg & Cheese on Cuban Bread</p>
          <p class="dish-information">Ham, Bacon, or Sausage, egg & cheese<br>Cuban toast<br>Cheese bread<br></p>                    
          <p>Salmon Platter</p>
          <p class="dish-information">Salmon, capers, onion, tomato, mixed green & Naan bread</p>         
        </div>
        <div class="menu-column">
          <h1><br><br><br>SALADS AND APPETIZERS</h1>
          <p>Garden Salad</p>
          <p>Tomato Stuffed with Chicken Salad</p>
          <p class="dish-information">on greens</p>
          <p>Mediterranean Salad</p>
          <p class="dish-information">with Naan bread, rice noodles in sweet chili sauce, olives, carrots, cucumbers & balsamic vinaigrette<br>Add chicken or fish
          </p>
          <p>Caesar Salad</p>
          <p class="dish-information">Add chciken or fish</p>
          <h1>BURGER BAR</h1>
          <h2>Our Burgers are 100% Angus Beef server with french fries, potato salad, onion rings, or wasabi cole slaw & pickle</h2>
          <p>Hamburger</p>
          <p class="dish-information">with cheese or bacon & cheese</p>
          <p>Havana Burger</p>
          <p class="dish-information">Vermont cheddar, tomato, onion, avacado & bacon</p>
          <p>Blue Cheese Burger</p>
          <p class="dish-information">Blue cheese, applewood bacon, lettuce & tomato</p>
          <h1>SANDWICHES</h1>
          <h2>All sandwiches served with choice of french fries, homemade potato salad, onion rings, or wasabi cole slaw & pickle</h2>
          <p>Cuban mix</p>
          <p class="dish-information">Pulled pork, Boar's Head ham, Swiss cheese, caramelized onion mayo & pickles</p>
          <img src="{% static 'img/coffee-with-sandwiches.jpg' %}" alt="Two sandwiches with coffee and french fries" width="100%">
          <p>Ham & Cheese</p>
          <p class="dish-information">Boar's Head ham, Swiss cheese, lettuce, tomato & mayo</p>
          <p>Tomato, Bacon Grilled Cheese</p>
          <p class="dish-information">Applewood bacon, tomato & Vermont cheddar</p>
          <p>Turkey Sandwich</p>
          <p class="dish-information">Boar's Head Ovengold roasted turkey, Swiss cheese, lettuce, tomato & mayo</p>
          <p>Cuban Jerk Chicken Sandwich</p>
          <p class="dish-information">Chicken tenderloin, lettuce & tomato</p>
          <p>Key West Wrap</p>
          <p class="dish-information">Bacon, turkey, ham, lettuce, tomato & cheese wrapped in a spinach tortilla</p>
          <p>Chicken Salad Wrap</p>
          <p class="dish-information">Chicken salad, lettuce, tomato & cheese wrapped in spinach tortilla</p>
        </div>
        <div class="menu-column">
          <img src="{% static 'img/french-fries-with-hamburger.jpg' %}" alt="A hamburger with french fries" width=100% class="img-top-menu">
          <p>Fried Grouper Sandwich</p>
          <p class="dish-information">Lettuce, tomato with tartar sauce</p>
          <p>Cuban Cheese Steak</p>
          <p class="dish-information">Skirt steak, Vermont cheddar, mushrooms & onion on Cuban bread</p>
          <p>Havana Club</p>
          <p class="dish-information">Boar's Head ham, applewood bacon, Swiss cheese, mayo, lettuce & tomato</p>
          <img src="{% static 'img/sandwiches-with-french-fries.jpg' %}" alt="Sandwiches with french fries" width=100%>
          <h1>SPECIALS</h1>
          <h2>All specials server with black beans, rice, sautéed onions & plantains</h2>
          <p>Grilled Chicken Tenderloin</p>
          <p>Pulled Pork</p>
          <p>Skiirt Steak</p>
          <h1>SIDES</h1>
          <p>Basket of French fries</p>
          <p>Basket of onion rings</p>
          <p>Potato Salad</p>
          <p>Wasabi cole slaw</p>
          <p>Black beans</p>
          <p>Black beans & rice</p>
          <p>Plantains</p>
        </div>
      </div>
      <div class="map-circle">
        <p>MAP</p>
        <h1>22</h1>
      </div>
      <footer>
        <h2>This is just a taste. Dig into our entire menu at havana-keywest.net</h2>
      </footer>
      <div class="name-elipse">
        <h1 class="circle-txt">HAVANA</h1>
        <h2  class="circle-txt">Key West</h2>
      </div>
    </body>
  </main>
</html>